*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    background-color: rgb(215, 215, 215);

}
div.divImgSinopse>img{
    width: 30%;
    margin: 5% 0 2% 2%;
    object-fit: cover;
    flex-grow: 1;
    flex-basis: 200;
}



div.conteudoCentral{
    height: auto;
    width: 80vw;
}

div.conteudoCentralHome{
    height: auto;
    width: 100vw;
}
h2#mensagemHome{
    background-color: black;
    color: rgb(191, 191, 191);
    text-align: center;
    padding: 2% 0;
    font-size: 25pt;
}


div#janelaCentral{
    margin: 0 30%;
    border:solid 1px;
}

div.livros{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    
}
div.divTituloImgSinopse{
    border: solid 1px;
    border-radius: 25px;
    width: 40%;
    text-align: center;
    margin: 2%;
    padding: 1%;
    background-color: gray;

}

div.sinopse{
    margin: 0 2%;
}

div.sinopse>h3{
    margin-top: 5%;
}

div.sinopse>p{
    text-align: justify;
}

div.telaAdicionarLivros {
    background-color: gray;
    width: 40vw;
}

h2#tituloAdicionarLivro {
    padding: 2% 0;
    text-align: center;
}

div#campoUploadImagem {
    text-align: left;
}

div#enviadiv{
    text-align: center;
    
}
div#enviadiv>button{
    color: white;
    font-weight: bolder;
    background-color: green;
    border: solid;
    margin: 2% 0;
    padding: 2% 3%;
    border-radius: 45px;
    transition: 0.5s;
}

div#enviadiv>button:hover{
    color: rgb(85, 85, 85);
    background-color: rgb(4, 48, 4);
}

.campoDePreencimento{
    margin: 3% 2%;
    font-size: 4vh;
}

#botaoEditar{
    color: white;
    font-weight: bolder;
    background-color: green;
    border: solid;
    margin: 2% 0;
    padding: 2% 3%;
    border-radius: 45px;
    transition: 0.5s;
}

#botaoEditar:hover{
    color: rgb(85, 85, 85);
    background-color: rgb(4, 48, 4);
}

#botaoExcluir{
    color: white;
    font-weight: bolder;
    background-color: rgb(207, 22, 22);
    border: solid;
    margin: 2% 0;
    padding: 2% 3%;
    border-radius: 45px;
    transition: 0.5s;
}

#botaoExcluir:hover{
    color: rgb(85, 85, 85);
    background-color: rgb(92, 6, 6);
}

.conteudoExplicativo {
    text-align: center;
    font-size: 15pt;
    padding: 2% 15%;
}

.conteudoExplicativo>p>a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

.conteudoExplicativo>p {
    margin: 5% 15%;
}


#btnCriarconta{
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(22, 62, 207);
    border: solid 2px;

}

#btnCriarconta:hover{

    background-color: rgb(4, 48, 4);
}


.inputCadastro{
    font-size: 18pt;
    margin: 6% 1%;
}
.inputCadastro>input{
    font-size: 19pt;

}
.inputCadastro>select{
    font-size: 19pt;
}

.conteuLogarCriar {
    padding: 2%;
    display: block;
    font-size: 15pt;
    text-align: center;
    width: 100%;
}

.criarLogar {
    box-shadow: 1px -45px rgba(0, 0, 0, 0.742);
    border-radius: 25px;
    margin: 5% 0;
}

.criarLogar>a {
    margin: 7%;
}

#btnCriarconta {
    border: solid 5px;
    border-radius: 25px;
    padding: 1%;
    background-color: gray;
    color: white;
    text-decoration: none;
}

#btnLogarconta {
    border: solid 5px;
    border-radius: 25px;
    padding: 1%;
    background-color: gray;
    color: white;
    text-decoration: none;
}

#btnSairconta{
    border: solid 5px;
    border-radius: 25px;
    padding: 1%;
    background-color: gray;
    color: white;
    text-decoration: none;
}